@use '../../styles/variables'as *;
@use '../../styles/mixins'as *;

.post-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--post-card-border-color);

  .post-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: $content-max-width;
    margin-bottom: 15px;
    color: var(--primary-text-color);

    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      .title {
        text-decoration: underline;
      }
    }

    @include md {
      margin-bottom: 0;
    }

    .title {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;
      line-height: 28px;
    }

    .description {
      font-size: 15px;
      margin-bottom: 10px;
      line-height: 22px;
      color: var(--primary-text-color);

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    .info {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;
      font-size: 14px;
      color: var(--about-link-icon-color);

      .date {
        padding-right: 20px;
      }

      .categories {
        display: flex;

        .category {
          margin-left: 4px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}